<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1"
>
	<display-name>MRCShop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>frontController</servlet-name>
		<servlet-class>com.atroshonok.servlet.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>frontController</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/jsp/error/error.jsp</location>
	</error-page>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.atroshonok.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
			
	<filter>
		<filter-name>ServletSecurityFilter</filter-name>
		<filter-class>com.atroshonok.filter.ServletSecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ServletSecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter>
		<filter-name>AccessLevelSecurityFilter</filter-name>
		<filter-class>com.atroshonok.filter.AccessLevelSecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessLevelSecurityFilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>PageRedirectSecurityFilter</filter-name>
		<filter-class>com.atroshonok.filter.PageRedirectSecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PageRedirectSecurityFilter</filter-name>
		<url-pattern>/jsp/*</url-pattern>
	</filter-mapping>

	<resource-ref>
		<description>MySQL DB Connection Pool</description>
		<res-ref-name>jdbc/rcshopdb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>